@import './variables/_variables.scss';
@import './mixins/_pattern-bg.scss';
@import './mixins/_clickable.scss';
@import './mixins/_grid.scss';

@import './card.scss';
@import './menu.scss';

body, html {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: $--primary-color;
}

#game {
  max-width: 100%;
  flex: 0 1 calc(100vw - 600px);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.board {
  &--x16 {
    @include grid(4, 4)
  }
  &--x36 {
    @include grid(6, 6)
  }
}
