
.menu {
  user-select: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 600px;
  flex-direction: column;
  padding: 3rem 5rem;
  height: 100%;
  background: white;
  @include pattern-bg(white, 260);
  &__title {
    font-size: 2rem;
  }
  &__score {
    margin: 4rem 0 4rem 0;
    text-align: center;
    color: $--secondary-color;
    & .points {
      font-weight: 400;
      font-size: 7rem;
    }
    & .attempts {
      font-weight: 100;
      font-size: 1rem;
    }
    & p { margin: 0 }
    & .score__suffix {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
  &__options {
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
    & .option {
      opacity: 1;
      transition: opacity 1s ease-out;
      margin: 3rem 0;
    }
  }
  & .btn {
    @include clickable(false);
    width: 8rem;
    margin: 0 0.2rem;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    background: $--secondary-color;
    border: 1px solid $--secondary-color;
    border-radius: 6px;
    &--secondary {
      background: white;
      color: $--secondary-color;
    }
  }
  & .toggle-btn {
    background: white;
    color: $--secondary-color;
    &--active {
      background: $--secondary-color;
      color: white;
      border: 1px solid $--secondary-color;
    }
  }
}
