// variables
$--secondary-color: #4A5568;
$--primary-color: #EDF2F7;
$--shadow-sm: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
$--shadow-lg: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
